body {
  margin: 0;
  padding: 20px;
}
header {
  background: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
}
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
span.left-align {
  padding-left: 32px;
}
span.right-align {
  padding-right: 32px;
}
.float-right {
  float: right;
}
#hamburger {
  width: 30px;
}
#hamburger span {
  background: #333;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
footer {
  background: #aaa;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
