body {
  margin: 0;
  padding: 20px;
}
header {
  background: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
}
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
span.left-align {
  padding-left: 32px;
}
h1 {
  font-size: 12pt;
  text-transform: uppercase;
}
span.right-align {
  padding-right: 32px;
}
.float-right {
  float: right;
}
#hamburger {
  width: 30px;
}
#hamburger span {
  background: #333;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  display: none;
}
footer {
  background: #aaa;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


#hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 12px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(15px, 0);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, 4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, 12px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, 12px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 12px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 4px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 4px;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      height: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      height: 4px;
      transform: translate(13px, 0);
    }
    60% {
      width: 4px;
      height: 4px;
      transform: translate(13px, 0);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, -4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
